#ad-page-container {
    flex-direction: row;
    flex-wrap: wrap;
}

.ad-page-section {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-color: var(--main-color);
    border-radius: 1rem;
}

#ad-photos {
    position: relative;
    width: 40%;
    aspect-ratio: 1 / 1;
}

#ad-photos > img {
    width: 100%;
    height: 100%;
}