#ad-container {
    margin-top: 2rem;
    position: relative;
    width: min(calc(100% - 8rem), 50rem);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

#ad-container > h2 {
    margin-top: 2rem;
}

#stages-container {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 2rem;
    align-items: center;
}

.stage {
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: .5rem;
}

.stage > h6 {
    text-align: center;
    color: var(--inverse-color);
    transition: color .5s ease;
}
.stage > h6.done {color: var(--primary-light);}
.stage > h6.active {
    font-weight: bold;
    color: var(--primary-color);}

.stage div {
    width: 0%;
    height: .2rem;
    border-radius: .1rem;
    background: var(--primary-color);
    transition: all .25s ease;
}
.stage div.active {
    width: 100%;
}

#fields-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: .5rem;
    opacity: 0;
    animation: fields-container-appear .5s forwards;
}
@keyframes fields-container-appear {
    0% {
        translate: 0 10px;
    }
    100% {
        translate: 0 0;
        opacity: 1;
    }
}

#stage-navigation-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

#prev-stage-button {
    width: max(30%, 6rem);
    flex-direction: row-reverse;
}
#prev-stage-button:hover:not(:disabled) img {
    translate: -2px 0;
}

#next-stage-button {
    width: max(30%, 6rem);
}

#create-ad-map {
    margin-top: 1rem;
    width: 100%;
    height: 25rem;
    border: solid 2px color-mix(in srgb, var(--inverse-color), transparent 80%);
    box-shadow: 0px 4px 10px #00000040;
}



@media (max-width: 768px) {
    #ad-container {
        width: calc(100% - 4rem);
    }

    #stages-container {
        gap: 1rem;
    }
}