#search-sidebar {
    padding: 1rem 2rem;
    width: 12rem;
    height: calc(100% - 7rem);
    position: fixed;
    top: 5rem;
    left: 0;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background: var(--main-color);
}

#search-container {
    padding: 1rem;
    width: calc(100% - 18rem);
    min-height: calc(100dvh - 13rem);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

#search-bar {
    padding: .5rem;
    width: calc(100% - 1rem);
    display: flex;
    align-items: center;
    gap: .5rem;
    position: relative;
    border-radius: 1rem;
    background: color-mix(in srgb, var(--secondary-color), black 10%);
}

#search-bar > img {
    filter: grayscale(1);
}

#search-field {
    height: 100%;
    padding: 0 .25rem;
    background: none;
    flex-grow: 1;
    border: none;
    font-size: 1em;
    outline: none;
}

.sidebar-element {
    display: flex;
    flex-direction: column;
    gap: .25rem;
}

.sidebar-element label {
    font-size: .9em;
    font-weight: 500;
}

.sidebar-element div {
    position: relative;
}

.sidebar-element div::after {
    content: '';
    position: absolute;
    width: 1rem;
    height: 1rem;
    top: calc(50% - .5rem);
    right: .5rem;
    background: url('/icons/chevron-down.svg') center;
    filter: invert(1);
}

.sidebar-element-select {
    padding: .5rem 1rem;
    width: 100%;
    height: 100%;
    border-radius: .5rem;
    appearance: none;
    -webkit-appearance: none;
    background: var(--secondary-color);
    font-size: .8em;
    font-weight: 500;
    font-family: system-ui;
    outline: none;
    cursor: pointer;
    transition: all .25s ease;
    border: solid 1px #00000000;
}
.sidebar-element-select:focus-visible {
    border: solid 1px #000000;
}

#switch-sidebar {
    padding: .75rem;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: .75rem;
    background: var(--primary-color);
    cursor: pointer;
    transition: all .25s ease;
}
#switch-sidebar:hover {
    background: var(--primary-light);
}

#switch-sidebar > img {
    width: 1.5rem;
    height: 1.5rem;
}



@media (max-width: 768px) {
    #search-sidebar {
        z-index: 1;
        animation: search-sidebar-appear .5s forwards;
    }
    @keyframes search-sidebar-appear {
        0% {
            translate: -16rem 0;
        }
        100% {
            translate: 0 0;
        }
    }

    #search-container {
        width: calc(100% - 2rem);
    }
}