#search-sidebar {
    padding: 1rem 2rem;
    width: 12rem;
    position: fixed;
    top: 5rem;
    left: 0;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

#search-container {
    padding: 1rem;
    width: calc(100% - 18rem);
    min-height: calc(100dvh - 13rem);
    display: flex;
    flex-direction: column;
    align-items: center;
}

#search-bar {
    padding: .5rem;
    width: calc(100% - 4rem);
    display: flex;
    align-items: center;
    gap: .5rem;
    position: relative;
    border-radius: 1rem;
    background: color-mix(in srgb, var(--secondary-color), black 10%);
}

#search-bar > img {
    filter: grayscale(1);
}

#search-field {
    height: 100%;
    padding: 0 .25rem;
    background: none;
    flex-grow: 1;
    border: none;
    font-size: 1em;
    outline: none;
}

.sidebar-element {
    display: flex;
    flex-direction: column;
    gap: .25rem;
}

.sidebar-element label {
    font-size: 1em;
    font-weight: 600;
}

.sidebar-element div {
    position: relative;
}

.sidebar-element div::after {
    content: '';
    position: absolute;
    width: 1rem;
    height: 1rem;
    top: calc(50% - .5rem);
    right: .5rem;
    background: url('/icons/chevron-down.svg') center;
    filter: invert(1);
}

.sidebar-element-select {
    padding: .5rem 1rem;
    width: 100%;
    height: 100%;
    border-radius: .5rem;
    appearance: none;
    -webkit-appearance: none;
    font-size: .8em;
    font-weight: 600;
    outline: none;
    cursor: pointer;
    transition: all .25s ease;
    border: solid 1px #00000000;
}
.sidebar-element-select:focus-visible {
    border: solid 1px #000000;
}

.ad-card {
    
}