#header {
    margin: 1rem 2rem;
    width: calc(100dvw - 4rem);
    height: 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#headerLogo {
    font-size: 1.8em;
    font-weight: 500;
    color: var(--primaryColor);
    text-decoration: none;
}

#headerBar {
    display: flex;
    gap: 1rem;
}

.headerButton {
    padding: .5rem 1.5rem;
    border-radius: 1.5rem;
    cursor: pointer;
}