#header {
    margin-top: 1rem;
    padding: .5rem 2rem;
    width: calc(100% - 6rem);
    height: 3rem;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 1.5rem;
    z-index: 1;
    background: color-mix(in srgb, var(--main-color), transparent 70%);
    backdrop-filter: blur(10px);
    transition: all .25s ease;
}
#header.atTheTop {
    background: none;
    backdrop-filter: none;
}

#headerLogo {
    height: 100%;
    cursor: pointer;
}

#headerBar {
    display: flex;
    gap: 1rem;
}

.headerButton {
    padding: .5rem 1.5rem;
    border-radius: 1.5rem;
    cursor: pointer;
    transition: all .5s ease;
}
.headerButton.primary {
    border: none;
    background: var(--primary-color);
}
.headerButton.primary > h6 {
    color: var(--main-color);
}
.headerButton.accent {
    border: solid 2px var(--primary-color);
    background: transparent;
}
.headerButton.accent > h3 {
    color: var(--primary-color);
}

.headerButton.primary:hover {
    background: var(--primary-light);
}
.headerButton.accent:hover {
    background: color-mix(in srgb, var(--primary-light), transparent 60%);
}