#header {
    margin-top: 1rem;
    padding: .5rem 2rem;
    width: calc(100% - 6rem);
    height: 3rem;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 1.5rem;
    z-index: 1;
    background: #ccd7ff66;
    backdrop-filter: blur(10px);
    transition: all .25s ease;
}
#header.atTheTop {
    background: none;
    backdrop-filter: none;
}

#headerLogo {
    font-size: 1.8em;
    font-weight: 700;
    color: var(--primary-dark);
    text-decoration: none;
    transition: all .25s ease;
}
#header.atTheTop #headerLogo {
    color: var(--primary-light);
}

#headerBar {
    display: flex;
    gap: 1rem;
}

.headerButton {
    padding: .5rem 1.5rem;
    border-radius: 1.5rem;
    cursor: pointer;
}