html {
    font-size: 100%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
        Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
        sans-serif;
}

body {
    overflow: visible;
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    color: var(--inverse-color);
}
h1 {
    font-size: 2em;
    font-weight: bold;
}
h2 {
    font-size: 1.5em;
    font-weight: bold;
}
h3 {
    font-size: 1em;
    font-weight: bold;
}
h4 {
    font-size: 2em;
    font-weight: normal;
}
h5 {
    font-size: 1.5em;
    font-weight: normal;
}
h6 {
    font-size: 1em;
    font-weight: normal;
}

#root {
    min-height: 100dvh;
    position: relative;
}

.lightTheme {
    --primary-color: #5c45df;
    --primary-light: #6f86df;

    --accent-color: #c145df;
    --accent-light: #d66fdf;

    --main-color: #f8f8f8;
    --secondary-color: #eee;
    --inverse-color: black;
}

.darkTheme {
    --primary-color: #5c45df;
    --primary-light: #6f86df;

    --accent-color: #c145df;
    --accent-light: #d66fdf;

    --main-color: #f8f8f8;
    --secondary-color: #eee;
    --inverse-color: black;
}



.primary-button {
    padding: .5rem 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5rem;
    background: var(--primary-color);
    border: none;
    border-radius: 1rem;
    cursor: pointer;
    transition: all .5s ease;
}
.primary-button:hover:not(:disabled) {background: var(--primary-light);}

.primary-button > h3 {color: white;}

.primary-button img {
    width: 1.5rem;
    height: 1.5rem;
    transition: all .5s ease;
}
.primary-button:hover:not(:disabled) img {
    translate: 2px 0;
}

.page-container {
    padding-top: 5rem;
    padding-bottom: 2rem;
    min-height: calc(100dvh - 11rem);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    position: relative;
    background: var(--secondary-color);
}



@media (max-width: 768px) {
    html {
        font-size: 75%;
    }
}
